{% extends 'home/base.html' %}
{% block content %}
    <div class="row">
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                {% if post.author.verify == True %}
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author.username }}<svg padding-left="10px" width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-patch-check-fll" fill="#0D6EFD" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                    </svg></a>
                {% else %}
                <a class="mr-2" href="#">{{post.author.username}}</a>
                {% endif %}
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                 <a class="mr-2" href="{% url 'show_profile' post.author.profile.id %}">View Profile</a>
                </div>
                <h2>{{ post.title }}</h2>
                {% if post.image != "" %}
                    <img class="img-thumbnail rounded" src="{{post.image.url}}">
                {% endif %}
                <p class="article-content">{{ post.content }}</p>
                {% if post.link != "" %}
                <p><a class="artical-content" href="{{ post.link }}" target="_blank">{{ post.link_title }}</a></p>
                {% endif %}
            </div>
        </article>
    </div>
    {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
         <hr>
  {% if user.is_authenticated %}
    <div class="d-inline-flex justify-content-center pl-5">
    <form action="{% url 'like-post' post.pk %}" method="POST" class="pr-5">
    {% csrf_token %}
    {% if liked == True %}
      <button type="submit" name="post_id" value={{ post.id }} class="btn btn-success btn-sm"><i class="fas fa-thumbs-up"></i></button> - {{ total_likes }}
    {% else %}
      <button type="submit" name="post_id" value={{ post.id }} class="btn btn-primary btn-sm"><i class="fas fa-thumbs-up"></i></button> - {{ total_likes }}
    {% endif %}
    </form> 
    <form action="{% url 'dislike-post' post.pk %}" method="POST">
      {% csrf_token %}
      {% if disliked == True %}
        <button type="submit" name="post_id" value={{ post.id }} class="btn btn-danger btn-sm"><i class="fas fa-thumbs-down"></i></button> - {{ total_dislikes }}
      {% else %}
        <button type="submit" name="post_id" value={{ post.id }} class="btn btn-dark btn-sm"><i class="fas fa-thumbs-down"></i></button> - {{ total_dislikes }}
      {% endif %}   
    </form>
    </div>
  {% else %}
    You must login to like a post. <a href="{% url 'login' %}">Login</a>
  {% endif %}
  <hr>
  {% if user.is_authenticated %}
    {% if not post.comments.all %}
      No Comments Yet <a href="{% url 'add-comment' post.pk %}">Add One</a>
    {% else %}
      Add a comment <a href="{% url 'add-comment' post.pk %}">Here</a>
    {% endif %}
  {% else %}
    <a href="{% url 'login' %}">Login</a> To create a comment
  {% endif %}
      <hr>
  {% for comment in post.comments.all %}
        <div class="media content-section">
          <img class="article-img" src="{{ comment.author.profile.image.url }}">
            <div class="pl-6">
              <div class="border-bottom">
              <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{ comment.author.username }}{% if comment.author.verify == True %}<svg padding-left="10px" width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-patch-check-fll" fill="#0D6EFD" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                </svg>{% endif %}</a>
          <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
          <a class="mr-2" href="{% url 'show_profile' comment.author.profile.id %}">View Profile</a>
          {% if comment.author == user %}
            <div>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-comment' comment.id %}">Delete</a>
            </div>
          {% endif %}
        </div>
        <p>{{ comment.content }}</p>
        {% if comment.link != "" %}
          <p><a class="artical-content" href="{{ comment.link }}" target="_blank">{{ comment.link_title }}</a></p>
        {% endif %}
      </div>
    </div>
      
  {% endfor %}
{% endblock %}